.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  width: 420px;
  height: 56px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.input-file:focus + label,
.input-file + label:hover {
  background-color: var(--md-sys-color-on-primary-fixed-variant);
}
